/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/.github
/phpserver
/update
/node_modules

/app/code/Magento
/app/design/*/Magento
/app/etc
/app/i18n/magento
/app/*.*

/bin
/dev
/generated
/lib
/pub
/setup
/var
/vendor

/.htaccess
/.htaccess.sample
/.php_cs
/.php_cs.dist
/.travis.yml
/auth.json.sample
/CHANGELOG.md
/CONTRIBUTING.md
/CONTRIBUTOR_LICENSE_AGREEMENT.html
/ISSUE_TEMPLATE.md
/COPYING.txt
/Gruntfile.js
/Gruntfile.js.sample
/grunt-config.json.sample
/LICENSE.txt
/LICENSE_AFL.txt
/index.php
/nginx.conf.sample
/package.json
/package.json.sample
/php.ini.sample
/.user.ini